body{
    background-color: rgb(238, 238, 196);
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1{
    color: #fff;
    text-align: center;
    margin-top: 50px;
    background-color: tomato;
    padding: 20px;
    border-radius: 10px;

}

nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: tomato;
}       

a{
    color: tomato;
    text-decoration: none;
    font-size: 20px;
}